.carousel {
  width: 300px;
  height: 100px;
  overflow: hidden;
  position: relative;
}

.carousel-item {
  display: none;
  text-align: center;
  font-size: 20px;
}

.carousel-item.active {
  display: block;
}
